/*--Tooltip Styles--*/
.tip_trigger {
	width: 50px;
	height: 15px;
	float: left;
	position: relative;
	z-index:
		999999999999999999999999999999999999999999999999999999999999999999999
		!important;
	margin-left: 10px;
}

.tip_trigger img {
	height: 18px;
	margin-top: 8px;
}

.tip {
	color: #333;
	background: #fff;
	display: none; /*--Hides by default--*/
	padding: 10px 15px 10px 10px;
	box-sizing: border-box;
	position: absolute;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width: 400px;
	border: 1px solid #333;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
	margin-left: 0px;
	top: 0px !important;
	left: 40px !important;
	z-index: 99999999999999999999999999999999999999999999999999999999999999
		!important;
}

.tip_title {
	width: 100%;
	float: left;
	position: relative;
	font-size: 13px;
	margin-bottom: 10px;
	line-height: 13px;
	font-family: 'Noto Sans KR', sans-serif;
	color: #000;
	font-weight: 500;
}

.tip_li {
	width: 100%;
	float: left;
	position: relative;
	padding-left: 10px;
	font-size: 12px;
	line-height: 13px;
	color: #666 !important;
	margin-bottom: 3px
}

.tip_li .icon {
	position: absolute;
	left: 0px;
	top: 0px
}