@charset "utf-8";
@-ms-viewport {  width: device-width;}


/* SCROLL */
::-webkit-scrollbar { width: 7px; height: 7px }
/* 스크롤바의 width*/
::-webkit-scrollbar-track { background-color: #ddd; }
/* 스크롤바의 전체 배경색 */
::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #4975e2, #4975e2);
}
/* 스크롤바 색 */
::-webkit-scrollbar-button { display: none; }



* {padding:0; margin:0;}
html {overflow-y:scroll; -webkit-text-size-adjust:none;height: 100%;}
body {word-break:keep-all;height: 100%; background-size: cover; background-position: top left; position: relative;  box-sizing: border-box; }
body, a, select, button, pre, input, textarea {color:#333; font-family:'Nanum Gothic','NanumSquare', 'Noto Sans KR','Malgun Gothic', 'Roboto', Arial, Dotum, Gulim, Verdana, Tahoma; font-style: 14px}
input, textarea, select {font-size:12px;}
h1, h2, h3, h4, h5, strong, b, th {font-weight:600;}
legend, .hidden {position:absolute; left:-9999px; width:1px; height:1px; font-size:0; line-height:0; overflow:hidden;}
caption {height:0; font-size:0; line-height:0; overflow:hidden;}
pre {white-space:pre-wrap;}
fieldset {border:0;}
li {list-style:none;transition: all 0.5s;
-moz-transition: all 0.5s; /* Firefox 4 */
-webkit-transition: all 0.5s; /* Safari and Chrome */
-o-transition: all 0.5s; /* Opera */  }
img {vertical-align:middle; border:0; max-width:100%;}
a {text-decoration:none;}
a.st_tr, .inbox, .over_line  {text-decoration:none; transition: all 0.5s;
-moz-transition: all 0.5s; /* Firefox 4 */
-webkit-transition: all 0.5s; /* Safari and Chrome */
-o-transition: all 0.5s; /* Opera */
}
header, section, article, aside, footer, nav {display:block;}
em{  font-style: normal}

h1{ }
h2{ display: none}
h3{}
h4{}
h5{}
label.hidden { display: none}
*:focus { outline:none;}

button{border: none}
div{box-sizing:border-box}
.comf { width: 100%; float: left}
.flex_r{ width: 100%; float: left; display:flex;  flex-direction:row; flex-wrap: wrap; box-sizing: border-box;justify-content: flex-end;  line-height: 30px }
.flex_c{ width: 100%; float: left; display:flex; flex-direction:column;  flex-wrap: wrap;  }
.td_flex{ width: 100%; float: left;   display: flex;
  justify-content: center;
  align-items: center; flex-direction:row;  }

.flex_c_100{ width: 100%; float: left;   display: flex;
  justify-content: center;
flex-direction:row; justify-content: space-between; }

.td_flex p{margin: 0px 5px}


.fl{ float: left !important}
.fr{ float: right !important}
.clear{ clear: both}
/**** pc ****/
@media only all and (min-width:1024px) {
.pc_view { display:block}
.mobile_view { display:none}
}
/**** 모바일 ****/
@media only all and (max-width:1023px) {
.pc_view {display:none }
.mobile_view {display:block }
}


/**** pc ****/
@media only all and (min-width:1000px) {
img.pc_view { display:block}
img.mobile_view { display:none}
}
/**** 모바일 ****/
@media only all and (max-width:999px) {
img.pc_view {display:none }
img.mobile_view {display:block }
}
/**** pc ****/
@media only all and (min-width:1025px) {
	.nav_pc_view { display:block}
.nav_mobile_view { display:none}
}

/**** 모바일 ****/
@media only all and (max-width:1024px) {
	.nav_pc_view { display:none}
.nav_mobile_view {  display:block}
}


.t_center{text-align:center}
.t_right{text-align:right}
.t_left{text-align:left}
.text-center{text-align:center}
.div_img{ width:100%; float:left}
.div_img img{ }




a{text-decoration:none}
a:hover{text-decoration:none}

.t_center{text-align:center !important}
.t_right{text-align:right}
.t_left{text-align:left}
.text-center{text-align:center}
.div_img{ width:100%; float:left}
.div_img img{ }


/**** 중간라인 ****/
.w_50p_line_r{float:left; width:calc(50% - 1px); box-sizing:border-box; border-right:1px solid #ccc;  padding-right:40px}
.w_50p_line_l{float:right; width:calc(50% - 1px); box-sizing:border-box ; padding-left:40px}

/**** 컨텐츠 사이 ****/
.sp_div{ width:100%; float:left; height:100px}
.sp_div2{ width:100%; float:left; height:50px}
.sp_div3{ width:100%; float:left; height:80px}

/**** 기본타이틀 ****/
.title_st1{ width:100%; float:left; font-size:34px; font-weight:300; color:#333; letter-spacing:-2px; margin-bottom:30px; line-height:40px}
.title_st1 em{ font-weight:500;}

.title_st2{ width:100%; float:left; font-size:36px; font-weight:300; color:#333; letter-spacing:-2px; line-height:40px; text-align:center}
.title_st2 em{ font-weight:500;}

.title_st3{ width:100%; float:left; font-size:20px; font-weight:500; color:#333; letter-spacing:-2px; line-height:20px; margin-bottom:10px;}
.title_st3 em{ font-weight:500;}

.title_st4{ width:100%; float:left; font-size:25px; font-weight:300; color:#666; letter-spacing:-2px; margin-bottom:30px; line-height:30px}
.title_st4 em{ font-weight:500; font-size:30px;color:#000;}





/**** 이미지 왼쪽 ****/
.text_img_left{ width:100%; float:left;}
.text_img_left img{ width:40%; float:left;}
.text_img_left .text{ width:60%; float:right;  font-size:14px; font-weight:300; color:#666; letter-spacing:-0.5px; box-sizing:border-box; padding-left:20px}

/**** 라인 ****/
.line_b{ width:100%; float:left; border-bottom:1px solid #ccc; height:1px; margin:50px 0px}
.line_b2{ width:100%; float:left; border-bottom:1px solid #ccc; height:1px; margin:5px 0px}
.line_b3{ width:100%; float:left; border-bottom:1px solid #ccc; height:1px; margin:50px 0px}



.title_b_line{ width:100%; float:left; margin:10px 0px 30px 0px; height:1px; border-left:90px solid #666; box-sizing:border-box}


/**** 영역 % ****/
.w_100p{  width:100%!important ;box-sizing:border-box}
.w_90p{ width:90% ;box-sizing:border-box }
.w_80p{  width:80% ;box-sizing:border-box }
.w_70p{ width:70% ;box-sizing:border-box }
.w_65p{  width:65% ;box-sizing:border-box }
.w_60p{  width:60% ;box-sizing:border-box }
.w_55p{ width:55% ;box-sizing:border-box }
.w_58p{ width:58% ;box-sizing:border-box }
.w_50p{ width:50% ;box-sizing:border-box }
.w_49p{  width:49% ;box-sizing:border-box }
.w_48p{  width:48% ;box-sizing:border-box }
.w_45p{  width:45% ;box-sizing:border-box }
.w_40p{  width:40% ;box-sizing:border-box }
.w_38p{ width:38% ;box-sizing:border-box }
.w_33p{ width:33% ;box-sizing:border-box }
.w_32p{ width:32%!important ;box-sizing:border-box }
.w_31p{ width:31.3%!important ;box-sizing:border-box }
.w_30p{ width:30% ;box-sizing:border-box }
.w_35p{ width:35% ;box-sizing:border-box }
.w_28p{ width:28% ;box-sizing:border-box }
.w_84p{  width:84% ;box-sizing:border-box }
.w_25p{  width:25% ;box-sizing:border-box }
.w_20p{  width:20% ;box-sizing:border-box }
.w_19p{ width:18% ;box-sizing:border-box }
.w_18p{ width:18% ;box-sizing:border-box }
.w_16p{ width:16% ;box-sizing:border-box }
.w_15p{ width:15% ;box-sizing:border-box }
.w_10p{ width:10% ;box-sizing:border-box }
.w_8p{ width:8% ;box-sizing:border-box }


/**** 영역 % ****/
.w_m80p{  width:calc(100% - 80px);box-sizing:border-box }
.w_m85p{  width:calc(100% - 85px);box-sizing:border-box }
.w_m90p{  width:calc(100% - 90px);box-sizing:border-box }
.w_m110p{  width:calc(100% - 110px);box-sizing:border-box }
.w_m120p{  width:calc(100% - 120px)!important;box-sizing:border-box }
.w_m150p{  width:calc(100% - 150px);box-sizing:border-box }


/**** 영역 px****/
.w_790px{ width:790px!important ;box-sizing:border-box }
.w_700px{ width:700px!important ;box-sizing:border-box }
.w_600px{ width:600px!important ;box-sizing:border-box }
.w_550px{ width:550px!important ;box-sizing:border-box }
.w_420px{ width:420px!important ;box-sizing:border-box }
.w_400px{ width:400px!important ;box-sizing:border-box }
.w_390px{ width:390px!important ;box-sizing:border-box }
.w_380px{ width:380px!important ;box-sizing:border-box }
.w_340px{ width:340px!important ;box-sizing:border-box }
.w_310px{ width:310px!important ;box-sizing:border-box }
.w_300px{ width:300px!important ;box-sizing:border-box }
.w_270px{ width:270px!important ;box-sizing:border-box }
.w_265px{ width:265px!important ;box-sizing:border-box }
.w_250px{ width:250px!important ;box-sizing:border-box }
.w_220px{ width:220px!important ;box-sizing:border-box }
.w_210px{ width:210px!important ;box-sizing:border-box }
.w_200px{ width:200px!important ;box-sizing:border-box }

.w_190px{ width:190px!important ;box-sizing:border-box }
.w_180px{ width:180px!important ;box-sizing:border-box }
.w_170px{ width:170px!important ;box-sizing:border-box }
.w_165px{ width:165px!important ;box-sizing:border-box }
.w_160px{ width:160px!important ;box-sizing:border-box }
.w_150px{ width:150px!important ;box-sizing:border-box }
.w_130px{ width:130px!important;box-sizing:border-box }
.w_120px{ width:120px!important;box-sizing:border-box }
.w_110px{ width:110px!important ;box-sizing:border-box }
.w_100px{ width:100px!important ;box-sizing:border-box }
.w_90px{ width:90px!important ;box-sizing:border-box }
.w_80px{ width:80px!important ;box-sizing:border-box }
.w_72px{ width:72px!important ;box-sizing:border-box }
.w_70px{ width:70px!important ;box-sizing:border-box }
.w_60px{ width:60px!important ;box-sizing:border-box }
.w_50px{ width:50px!important ;box-sizing:border-box }
.w_40px{ width:40px!important;box-sizing:border-box }
.w_auto{ width:auto!important;box-sizing:border-box }




/**** 영역 ****/
.w_90p_center{width:90% ;box-sizing:border-box; margin:0px auto }
.w_80p_center{ width:80% ;box-sizing:border-box ; margin:0px auto}
.w_70p_center{ width:70% ;box-sizing:border-box ; margin:0px auto}
.w_60p_center{ width:60% ;box-sizing:border-box ; margin:0px auto}
.w_50p_center{ width:50% ;box-sizing:border-box; margin:0px auto }
.w_40p_center{ width:40% ;box-sizing:border-box; margin:0px auto }
.w_30p_center{  width:30% ;box-sizing:border-box; margin:0px auto }
.w_20p_center{  width:20% ;box-sizing:border-box ; margin:0px auto}
.w_10p_center{  width:10% ;box-sizing:border-box; margin:0px auto }




/**** 공백 ****/
.sp_100{ width:100%; height:100px; float:left}
.sp_90{ width:100%; height:90px; float:left}
.sp_80{ width:100%; height:80px; float:left}
.sp_70{ width:100%; height:70px; float:left}
.sp_60{ width:100%; height:60px; float:left}
.sp_50{ width:100%; height:50px; float:left}
.sp_40{ width:100%; height:40px; float:left}
.sp_30{ width:100%; height:30px; float:left}
.sp_20{ width:100%; height:20px; float:left}
.sp_10{ width:100%; height:10px; float:left}

	/**** 마진값: 하단 ****/
.mb_100{ margin-bottom:100px !important}
.mb_90{ margin-bottom:90px !important}
.mb_80{ margin-bottom:80px !important}
.mb_70{ margin-bottom:70px !important}
.mb_60{ margin-bottom:60px !important}
.mb_50{ margin-bottom:50px !important}
.mb_40{ margin-bottom:40px !important}
.mb_30{ margin-bottom:30px !important}
.mb_25{ margin-bottom:25px !important}
.mb_20{ margin-bottom:20px !important}
.mb_15{ margin-bottom:5px !important}
.mb_10{ margin-bottom:10px !important}
.mb_8{ margin-bottom:8px !important}
.mb_5{ margin-bottom:5px !important}
.mb_0{ margin-bottom:0px !important}


/**** 마진값: 상단 ****/
.mt_100{ margin-top:100px}
.mt_90{ margin-top:90px}
.mt_80{ margin-top:80px}
.mt_70{ margin-top:70px}
.mt_60{ margin-top:60px}
.mt_50{ margin-top:50px}
.mt_40{ margin-top:40px}
.mt_30{ margin-top:30px}
.mt_20{ margin-top:20px!important}
.mt_12{ margin-top:12px}
.mt_10{ margin-top:10px}
.mt_8{ margin-top:8px}
.mt_5{ margin-top:5px}
.mt_4{ margin-top:4px}
.mt_3{ margin-top:3px}
.mt_1{ margin-top:1px}
.mt_0{ margin-top:0px !important}

/**** 마진값: 좌 ****/
.ml_10{ margin-left:100px}
.ml_90{ margin-left:90px}
.ml_80{ margin-left:80px}
.ml_70{ margin-left:70px}
.ml_65{ margin-left:65px}
.ml_60{ margin-left:60px}
.ml_50{ margin-left:50px}
.ml_45{ margin-left:45px}
.ml_40{ margin-left:40px}
.ml_30{ margin-left:30px}
.ml_20{ margin-left:20px}
.ml_15{ margin-left:15px}
.ml_10{ margin-left:10px}
.ml_5{ margin-left:5px}
.ml_3{ margin-left:3px}
.ml_m5{ margin-left:-5px}

/**** 마진값: 우 ****/
.mr_100{ margin-right:100px}
.mr_90{ margin-right:90px}
.mr_80{ margin-right:80px}
.mr_70{ margin-right:70px}
.mr_60{ margin-right:60px}
.mr_50{ margin-right:50px}
.mr_40{ margin-right:40px}
.mr_30{ margin-right:30px}
.mr_20{ margin-right:20px}
.mr_15{ margin-right:15px}
.mr_10{ margin-right:10px}
.mr_5{ margin-right:5px}
.mr_2{ margin-right:2px}
.mr_1{ margin-right:1px!important}
.mr_0{ margin-right:0px!important}
.mr_m1{ margin-right:-1px}
.mr_m3{ margin-right:-3px}

/**** 패딩: 상하좌우 ****/

.pd_50{padding:50px}
.pd_40{padding:40px}
.pd_30{padding:30px}
.pd_20{padding:20px!important}
.pd_10{padding:10px!important}
/**** 패딩: 좌 ****/

.pd_l_50{padding-left:50px;box-sizing:border-box}
.pd_l_40{padding-left:40px;box-sizing:border-box}
.pd_l_30{padding-left:30px;box-sizing:border-box}
.pd_l_20{padding-left:20px ;box-sizing:border-box}
.pd_l_10{padding-left:10px; box-sizing:border-box}

.pd_r_50{padding-right:50px;box-sizing:border-box}
.pd_r_40{padding-right:40px;box-sizing:border-box}
.pd_r_30{padding-right:30px;box-sizing:border-box}
.pd_r_20{padding-right:20px ;box-sizing:border-box}
.pd_r_10{padding-right:10px; box-sizing:border-box}

/**** 테두리 라운드 각 ****/
.br_0{border-radius: 0px;}
.br_2{border-radius: 2px;}
.br_4{border-radius: 4px;}
.br_5{border-radius: 5px;}
.br_7{border-radius: 7px;}
.br_10{border-radius: 10px;}


/**** 폰트크기 ****/
.font_19{ font-size:19px !important }
.font_18{ font-size:18px !important}
.font_17{ font-size:17px !important}
.font_16{ font-size:16px !important}
.font_15{ font-size:15px !important}
.font_14{ font-size:14px !important }
.font_13{ font-size:13px !important }
.font_12{ font-size:12px !important}

.fw_200{ font-weight:200}
.fw_300{ font-weight:300}
.fw_400{ font-weight:400}
.fw_500{ font-weight:500}

.font_color1{ color:#b57f44}
.font_color2{ color:#0099cc}
.font_color3{ color:#000; font-weight: 500; text-decoration: underline }
.font_color4{ color:#000; font-weight:bold; }

.input_w100 { width: 100% !important}
.cursor {cursor: pointer}


.table_h1{ height:calc(100vh - 350px);}
.table_h150{ height:150px;}
.table_h180{ height:176px;}
.table_h250{ height:250px;}
.table_h220{ height:220px;}
.table_h200{ height:200px;}
.table_h300{ height:300px;}
.table_h350{ height:350px;}
.table_h380{ height:380px;}
.table_h400{ height:400px;}
.table_h420{ height:420px;}
.table_h430{ max-height:430px;}
.table_h500{ max-height:500px;}
.table_h600{ max-height:600px;}
.table_h620{ max-height:620px;overflow-y: auto;}
.table_h650{ height:650px;}
.table_h670{ height:663px;}


.table_h700{ height:700px;}



.table_h2{ height:300px;}
.table_h3{ height:507px;}
.table_h1_2{ height:calc(100vh - 400px);}
.table_h4{ height:683px;}
.table_h5{ height:630px;}
.table_h6{ height:420px;}


.h_100p{ height:100%;}
.h_100p_2{ height:calc(100% - 40px)}
.h_100p_3 {height:calc(100% - 80px)}

.min_h_250px{ min-height:250px;}


.overflow_h{   overflow-y: scroll!important; overflow-x: hidden}


.txt_over{ overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }

.error_page{  width: 100%; height: 100vh;   display: flex;  justify-content: center;  align-items: center;  flex-direction:column;}
.error_page .tx1{  width: 100%;  float: left; text-align: center; margin-bottom: 10px}
.error_page .tx2{  width: 100%;  float: left; text-align: center;font-size: 18px; color: #333; font-family: 'Noto Sans KR', sans-serif; font-weight: 500; margin-bottom: 50px }

.error_page .img{  width: 100%;  float: left; text-align: center; background: url("../img/common/error_bg.png") ; margin-bottom: 50px}
.error_page .tx3{ width: 100%;  float: left; text-align: center;font-size: 14px; color: #333; margin-bottom:30px }

.error_page .btnbox{ width: 100%;  float: left;  display: flex;  justify-content: center;  align-items: center; }
.error_page .btnbox .btn{border-radius: 50px; padding: 10px 40px; background-color: #4a56a0; color: #fff; font-size: 18px; font-family: 'Noto Sans KR', sans-serif; font-weight: 500; cursor: pointer}
.error_page .btnbox .btn:hover{border-radius: 50px; padding: 10px 40px; background-color: #37428A; color: #fff; font-size: 18px;  font-family: 'Noto Sans KR', sans-serif; font-weight: 500; cursor: pointer}
