input.input_com {
	height: 35px!important;
	line-height: 35px !important;
	padding: 0px 10px!important; box-sizing: border-box!important;
	font-size:13px!important;
	color:#555;
	background-image:none;
	background-color:#fff!important;
 	border: 1px solid #ccc; border-radius: 4px; 
}

input.input_com[readonly] {
	background-color:#fafafa!important;
}

input.input_com[disabled] {
	background-color:#fafafa!important;
	cursor: not-allowed;
}

input.input_com:focus {
	
	border-color:#66afe9;
	 border: 1px solid #586ed5;; box-sizing: border-box!important;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6)
}
input.input_com:hover {
	 border: 1px solid #999;; 
}

textarea.input_com {
	
	line-height:25px !important;
	padding: 0px 10px!important; box-sizing: border-box!important;
	font-size:13px!important;
	color:#555;
	background-color:#fff!important;
	background-image:none;
 border: 1px solid #ccc; border-radius: 4px;  min-height: 100px; margin-bottom: -10px
}

textarea.input_com:focus {
	
	border-color:#66afe9;
	 border: 1px solid #586ed5;; box-sizing: border-box!important;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6)
}
textarea.input_com:hover {
	 border: 1px solid #999;; 
}

.input_com::-moz-placeholder {
color:#999;
opacity:1
}
.input_com:-ms-input-placeholder {
color:#999
}
.input_com::-webkit-input-placeholder {
color:#999
}
.input_com::-ms-expand {
border:0;
background-color:transparent
}
.input_com[disabled], .input_com[readonly], input_com1[disabled] .input_com {
	background-color:#eee;
	opacity:1
}
.input_com[disabled], fieldset[disabled] .input_com {
	cursor:not-allowed;
}




.search_com{width: 100%; float: left; position: relative; height: 35px;  }
.search_com input{width: 100%; height: 35px; box-sizing: border-box; border: 1px solid #6d81ab; }
.search_com button.search_btn{position: absolute; right: 0px; top: 0px; 
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4693f1+0,4dc14b+100 */
background: #4693f1; /* Old browsers */
background: -moz-linear-gradient(45deg,  #4693f1 0%, #4dc14b 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  #4693f1 0%,#4dc14b 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  #4693f1 0%,#4dc14b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4693f1', endColorstr='#4dc14b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	padding: 0px 15px;  height: 35px; line-height: 35px; color: #fff; font-size: 13x; border-radius: 0px 4px 4px 0px; overflow:  hidden; cursor: pointer
}
.search_com button.search_btn:hover{position: absolute; right: 0px; top: 0px; 
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4693f1+0,4dc14b+100 */
background: #2475D8; /* Old browsers */
background: -moz-linear-gradient(45deg,   #2475D8 0%, #2EC42D 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,   #2475D8 0%,#2EC42D 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  #2475D8 0%,#2EC42D 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2475D8', endColorstr='#2EC42D',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	padding: 0px 15px;  height: 35px; line-height: 35px; color: #fff; font-size: 13x; border-radius: 0px 4px 4px 0px; overflow:  hidden
}



.file_input label {

      position:absolute;

    cursor:pointer;

    display:inline-block;

    vertical-align:middle;

    overflow:hidden;

    width:auto;

      height:35px;

    line-height:35px;

    background:#244596;

    color:#fff;

    text-align:center !important;

     border-radius: 4px 0px 0px 4px;  padding: 0px 20px; 	font-size:13px;


}

.file_input label input {

    position:absolute;

    width:0;

    height:0;

    overflow:hidden; display: none;  border-radius: 4px 0px 0px 4px;background-color:#fafafa!important; 

}

.file_input input[type=text] {

    vertical-align:middle;

    display:inline-block;

    width:100%;

    height:35px;

    line-height:35px;

    font-size:11px;

    padding:0;

    border:0;

    border:1px solid #ccc;padding-left: 120px; box-sizing: border-box;  border-radius: 4px ;;background-color:#fafafa!important;

}


.file_input { position: relative; float: left; 
}
.file_input .down{ position: absolute!important; bottom: 10px;  width:20%;  background-color: #163070; text-align: center; padding: 7px; color: #fff; font-size: 11px;z-index: 99; border-radius: 0px 0px 4px 4px; cursor: pointer; display: none
}
.file_input .down:hover{ position: absolute!important; bottom: 10px;    width:20%;   background-color: #0F1C3E; text-align: center; padding: 7px; color: #fff; font-size: 11px;z-index: 99; border-radius: 0px 0px 4px 4px; cursor: pointer
}
