
/* Overlay */
.popupwindow_overlay {
    background-color    : rgba(0,0,0,0.6); position:fixed; z-index:9999999999999999999999999999999999999999999!important;
}

/* Window */
.popupwindow {
    color               : #303030;
    background-color    : #fff;
   position: relative; z-index:1!important;
}
.popupwindow_minimized {
    width               : 230px;font-size: 18px; 
    box-shadow          : none; z-index:9!important;
}

/* TitleBar */
.popupwindow_titlebar {
    background-color    : #e9e9e9;
    padding             :0px 15PX; 
background: #080d1a; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #080d1a 0%, #3157a6 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #080d1a 0%,#3157a6 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  #080d1a 0%,#3157a6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#080d1a', endColorstr='#3157a6',GradientType=1 ); 

/* IE6-9 */box-sizing: border-box;color: #FFF!important; font-size: 18px; font-weight: 400!important;   line-height: 45px; font-family: 'Noto Sans KR', sans-serif;  
}
.popupwindow_titlebar_draggable {
    cursor              : move; 
}
    /* TitleBar Text */
    .popupwindow_titlebar_text {
   color: #FFF!important;
        font-family     : inherit;
        font-size       : inherit;
       font-weight: 400!important; 
        text-align      : left;
      
    }
    /* TitleBar Buttons */
    .popupwindow_titlebar_button {
        cursor              : pointer;
        width               : 25px;
        stroke              : #FFF;
    }
        .popupwindow_titlebar_button:hover { width               : 25px;
     
        }
        .popupwindow_titlebar_button:active { width               : 25px;
      
        }
        /* The following classes can be used to customize single buttons */
        .popupwindow_titlebar_button_close { position: absolute; right: 10PX; top: 10px}
            .popupwindow_titlebar_button_close:hover {}
            .popupwindow_titlebar_button_close:active {}
        
        .popupwindow_titlebar_button_maximize {position: absolute; right: 40PX; top: 10px}
            .popupwindow_titlebar_button_maximize:hover {}
            .popupwindow_titlebar_button_maximize:active {}
        
        .popupwindow_titlebar_button_collapse {}
            .popupwindow_titlebar_button_collapse:hover {}
            .popupwindow_titlebar_button_collapse:active {}
        
        .popupwindow_titlebar_button_minimize { position: absolute; right: 70PX}
            .popupwindow_titlebar_button_minimize:hover {}
            .popupwindow_titlebar_button_minimize:active {}


.popupwindow_minimized  .popupwindow_titlebar_button_minimize { position: absolute; right: 40PX}
.popupwindow_minimized   .popupwindow_titlebar_button_close {position: absolute; right: 10PX; top: 10px}
            
        


/* Content */
.popupwindow_content {position: relative; z-index: 9!important;
   
  
}
.popupwindow_content:after {
    content         : "";
    display         : block; z-index:9!important;
    
}

/* StatusBar */
.popupwindow_statusbar {
    background-color    : #f0f0f0;
    border-top          : 1px solid #c8c8c8;position: relative; z-index:9!important
    
}
    /* StatusBar Content */
    .popupwindow_statusbar_content {
        color               : #303030;
        font-family         : inherit;
        font-size           : inherit;
        font-weight         : normal;
        padding-left        : 4px; z-index:9!important;
    }
    /* StatusBar Handle */
    .popupwindow_statusbar_handle {
        width               : 10px;
        height              : 10px;
        stroke              : #a0a0a0; z-index:9!important;
    }


.popup_btn_c2{width: 100%;  float: left; }
.popup_btn_c2 .btn_fl{  float: left; }
.popup_btn_c2 .btn_fr{  float: right; display:flex;justify-content: flex-end;  flex-direction:row; }


.popupwindow_bottom_content button{margin: 10px 10px 10px 0px;}
