	
.sp_tx {line-height: 30px; height: 30px; padding: 0px 10px } 

.selectbox_com .select-selected {
  color: #333;
  padding: 0px 30px 0px 0px;   
  cursor: pointer;
  user-select: none;  border-radius: 0px; width: 100%; background-color: #fff !important;  height:35px!important; line-height: 35px!important; font-size: 12px ;color:    #666;  text-align: left; position: relative; border: 1px solid #6e82ac!important; margin-left: -3px;
color: #333; border-radius: 4px
}
.selectbox_com .select-selected:hover {
  color: #333;
  padding: 0px 10px;   
  cursor: pointer;
  user-select: none; 	border-color:#66afe9;
	 border: 2px solid #4795eb;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6); color: #333; line-height:30px;
	
}
/*style the arrow inside the select element:*/
.selectbox_com .select-selected:after {
  position: absolute;
  content: "";
  top: 15px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #000 transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.selectbox_com .select-selected.select-arrow-active:after {
  border-color: transparent transparent #586ed5 transparent;
  top:7px;
}

/*style the items (options), including the selected item:*/
.selectbox_com .select-selected {
   color: #333;
  padding: 0px 10px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;border: 1px solid #ccc; line-height: 35px; display: inline-block; width: 100%; 
}

.selectbox_com .select-items {
color: #333;
  padding: 0px!important;   
  cursor: pointer;
  user-select: none;   width: 100%;border-bottom: 1px solid #ccc; font-size: 12px ; border: 1px solid #586ed5;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);  margin-top: -1PX; margin-left: -3px;
}
.selectbox_com .select-items div {
color: #333;
  padding: 0px 10px!important; box-sizing: border-box;   
  cursor: pointer;
  user-select: none; background-color: #fff !important;  width: 100%;border-bottom: 1px solid #ccc; font-size: 12px ;height:35px!important; line-height: 35px; text-align: left
}
.selectbox_com .select-items div:hover{background-color: #eee !important; 
}
/*style items (options):*/
.selectbox_com .select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.selectbox_com .select-hide {
  display: none;
}

.selectbox_com .select-items div:hover, .selectbox_com .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}



/*the container must be positioned relative:*/
.selectbox_com .custom-select {
  position: relative;
  font-family: Arial;
}

.selectbox_com .custom-select select {
  display: none; /*hide original SELECT element:*/
}

.selectbox_com2 {position: relative; }

.selectbox_com2 .select-selected{
  color: #333;
  padding: 0px 30px 0px 0px;   
  cursor: pointer;
  user-select: none;  border-radius: 0px; width: 100%; background-color: #fff !important;  height:35px!important; line-height: 35px!important; font-size: 13px ;color:    #666;  text-align: left; position: relative;  border: 1px solid #ccc; border: 1px solid #ccc!important; 
color: #333; border-radius: 4px}
.selectbox_com2 .select-selected:hover {
  color: #333;
  padding: 0px 10px;   
  cursor: pointer;
  user-select: none; 

	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6); color: #333; line-height:30px; border: 1px solid #586ed5!important;z-index: 1
	
}
/*style the items (options), including the selected item:*/
.selectbox_com2 .select-selected {
   color: #333;
  padding: 0px 10px;
  border: 1px solid #ccc!important;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none; line-height: 35px; display: inline-block; width: 100%; 
}

.selectbox_com2 .select-selected.not-validate{
	border: dashed 1px red !important;
} 

/*style the arrow inside the select element:*/
.selectbox_com2 .select-selected:after {
  position: absolute;
  content: "";
  top: 15px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #000 transparent transparent transparent; 
}

/*point the arrow upwards when the select box is open (active):*/
.selectbox_com2 .select-selected.select-arrow-active:after {
  border-color: transparent transparent #586ed5 transparent;
  top:7px;
}


.selectbox_com2 .select-items {
color: #333;
  padding: 0px!important;   
  cursor: pointer;
  user-select: none;   width: 100%;border-bottom: 1px solid #ccc; font-size: 13px ; border: 1px solid #586ed5;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);  margin-top: -1PX; ;z-index: 9999999999999999999999999999999999999!important
}
.selectbox_com2 .select-items div {
color: #333;
  padding: 0px 10px!important; box-sizing: border-box;   
  cursor: pointer;
  user-select: none; background-color: #fff !important;  width: 100%;border-bottom: 1px solid #ccc; font-size: 13px ;height:35px!important; line-height: 35px; text-align: left; ;z-index: 9999999999999999999999999999999999999 !important
}
.selectbox_com2 .select-items div:hover{background-color: #eee !important; 
}
/*style items (options):*/
.selectbox_com2 .select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
}

/*hide the items when the select box is closed:*/
.selectbox_com2 .select-hide {
  display: none;
}

.selectbox_com2 .select-items div:hover, .selectbox_com .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}



/*the container must be positioned relative:*/
.selectbox_com2 .custom-select {
  position: relative;
  font-family: Arial;
}

.selectbox_com2 .custom-select select {
  display: none; /*hide original SELECT element:*/
}

