@charset "utf-8";




.mypage_tab {width:100% ; height: 100%;  float: left;  }
.mypage_tab ul.tabs{width:100% ;  float: left; }
.mypage_tab ul.tabs li{  width:100px;  float: left;  line-height: 40px; height: 40px;  background-color: #eee; color: #333; font-size: 14px; text-align: center; cursor: pointer;  padding: 0px!important; box-sizing: border-box; border: 1px solid #ccc; margin-right: -1px}
.mypage_tab ul.tabs li a{  width:100%!important;  float: left;  text-align: center; box-sizing: border-box}

.mypage_tab ul.tabs li.selected a, .mypage_tab ul.tabs li.selected a:hover
{background: #080d1a; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #080d1a 0%, #3157a6 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #080d1a 0%,#3157a6 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  #080d1a 0%,#3157a6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#080d1a', endColorstr='#3157a6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */  margin-bottom: -1px; color: #fff}


.mypage_tab ul.tabs li:first-child{  border-radius: 8px 0px 0px 0px; }
.mypage_tab ul.tabs li:last-child{ border-radius: 0px 8px 0px 0px;}

.mypage_tab ul.tabs li.selected:first-child a {  border-radius: 8px 0px 0px 0px; }
.mypage_tab ul.tabs li.selected:last-child a{ border-radius: 0px 8px 0px 0px;}

.mypage_tab div.tabcontents
{  border: 1px solid #ccc; background-color: #fff; border-radius:0px 15px 15px 15px;  margin-top: -1px;
	float: left; width: 100% ; height: calc(100% - 40px); padding: 30px;
}







.tab_st1 {width:100% ;  float: left; margin-bottom: 20px }
  
.tab_st1 ul.tabs{width:100% ;  float: left; border-bottom: 1px solid #ccc}
        
.tab_st1 ul.tabs li{  width:auto;  float: left;  line-height: 35px; height: 35px;  background-color: #eee; color: #333; font-size: 13px; text-align: center; cursor: pointer;  margin-bottom:-1px;padding: 0px!important; box-sizing: border-box; border: 1px solid #ccc; margin-right: -1px}

.tab_st1 ul.tabs li a{  width:100%!important;  float: left; padding: 0px 50px; box-sizing: border-box}

  

  
.tab_st1 ul.tabs li.selected a, .tab_st1 ul.tabs li.selected a:hover
{width:100px;    float: left; background: #336dd6; /* Old browsers */
 color: #fff; font-size: 13px; padding: 0px 50px; box-sizing: border-box}




.tab_st1 ul.tabs li:first-child{  border-radius: 8px 0px 0px 0px; }
.tab_st1 ul.tabs li:last-child{ border-radius: 0px 8px 0px 0px;}

.tab_st1 ul.tabs li.selected:first-child a {  border-radius: 8px 0px 0px 0px; }
.tab_st1 ul.tabs li.selected:last-child a{ border-radius: 0px 8px 0px 0px;}




.tab_st1 div.tabcontents
{
  border: none
}






.mypage_tab2 {width:100% ; height: 100%;  float: left;}
.mypage_tab2 ul.tabs, .mypage_tab2 ul.c_tabs{width:calc(100% - 30px); float: left;  border-bottom: 1px solid #ccc;}
.mypage_tab2 ul.tabs li, .mypage_tab2 ul.c_tabs li{  float: left;  line-height: 40px; height: 40px;  background-color: #eee; color: #333; font-size: 14px; text-align: center; cursor: pointer;  padding: 0px!important; box-sizing: border-box; border: 1px solid #ccc; margin-right: -1px; margin-bottom: -1px;}
.mypage_tab2 ul.tabs li a, .mypage_tab2 ul.c_tabs li a{  width:150px!important; float: left;  text-align: center; box-sizing: border-box;  overflow:hidden; text-overflow:ellipsis; white-space:nowrap; padding-right: 20px; padding-left: 10px;}

.mypage_tab2 ul.tabs li.selected a, .mypage_tab ul.tabs li.selected a:hover,
.mypage_tab2 ul.c_tabs li.selected a, .mypage_tab ul.c_tabs li.selected a:hover
{background: #080d1a; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #080d1a 0%, #3157a6 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #080d1a 0%,#3157a6 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  #080d1a 0%,#3157a6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#080d1a', endColorstr='#3157a6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */  margin-bottom: -1px; color: #fff; }


.mypage_tab2 ul.tabs li:first-child, .mypage_tab2 ul.c_tabs li:first-child{  border-radius: 8px 0px 0px 0px; }
.mypage_tab2 ul.tabs li:last-child, .mypage_tab2 ul.c_tabs li:last-child{ border-radius: 0px 8px 0px 0px;}

.mypage_tab2 ul.tabs li.selected:first-child a, .mypage_tab2 ul.c_tabs li.selected:first-child a {  border-radius: 8px 0px 0px 0px; }
.mypage_tab2 ul.tabs li.selected:last-child a, .mypage_tab2 ul.c_tabs li.selected:last-child a{ border-radius: 0px 8px 0px 0px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}

.mypage_tab2 div.tabcontents
{   background-color: #fff; 
	float: left;  height: calc(100% - 60px); overflow: hidden; 
}

.part_h{ width: 100% ;  float: left;  position: relative;  }
.part_h .titlebox{ width: 100% ;  float: left;  padding: 0px 0px; height: 35px; line-height: 30px; font-size: 18px;color: #333; font-family: 'Noto Sans KR', sans-serif;  font-weight: 700; box-sizing: border-box; overflow: hidden; letter-spacing: -1px; margin-top: 10px;}
.part_h .inbox1{width:calc(100% - 28px);  float: left;  height: 70px; overflow-y: auto; overflow-x: hidden;  box-sizing: border-box;  border-radius: 10px 0px 0px 10px;}
.inbox1 .list{width:calc(100% - 2px);float: left;   background-color: rgba(237,239,246,0.69); border-radius: 10px; padding: 10px 20px;  }

.inbox1 .list ul { width:100%;float: left;  color: #333 ; position: relative; padding: 0px 30px; box-sizing: border-box; }
.inbox1 .list ul li{ width: 25%; float: left;  color: #333 ; position: relative; padding: 5px 0px 5px 15px ;box-sizing: border-box;}
.inbox1 .list ul li em{color: #4791ff!important; cursor: pointer}
.inbox1 .list ul li .icon{width: 3px; height: 3px; border-radius: 100%; background-color: #000; position: absolute; left: 0px; top: 50%  }


.part_h .inbox2{width:100% ;   float: left;  height:345px; overflow-y: scroll; overflow-x: hidden;  padding-right: 30px;box-sizing: border-box;  border-radius: 10px 0px 0px 10px;}


.part_h .inbox3{ width: calc(100% - 28px) ;  float: left;  height:calc(100% - 30px); overflow-y: auto; overflow-x: hidden; padding:0px  2px 0px  0px ;box-sizing: border-box;  border-radius: 10px 0px 0px 10px;}


#ul-search-tab .closeicon{
    position: absolute;
    right: 5px;
    top: 10px;
    width: 20px;
    z-index: 9999;
    height: 20px;
    background: url(/resources/img/icon/icon_close_w.svg) no-repeat;
    background-size: 20px;
}