
.map_icon{ width: auto; float: left;  position: absolute;  right: 16px; top: 30px; z-index:7; }

 .iconbox{  box-sizing: border-box;  box-shadow:2px 2px 5px rgba(80, 80, 166, 0.2);border-radius: 4px;  margin-bottom: 10px; float: right; width: auto;}

 .iconbox ul{ width: auto; float: right }
 .iconbox ul li{  width: 40px;  height: 40px; float: left;   text-align: center;; cursor: pointer;  border-right: 1px solid rgba(81,81,166,0.73);   box-sizing: border-box;  border: 1px solid #5151a6;border-radius: 0px;  margin-right: -1px; background-color: #fff;}


 .iconbox ul li:first-child{  width: 40px;  height: 40px; float: left;   text-align: center;; cursor: pointer; border-radius: 4px 0px 0px 4px;  }

 .iconbox ul li:last-child{  width: 40px;  height: 40px; float: left;   text-align: center;; cursor: pointer; ; border-radius: 0px 4px 4px 0px;   }


 .iconbox ul li.one{  width: 40px;  height: 40px; float: left;   text-align: center;; cursor: pointer; ; border-radius: 4px;   }


 .iconbox.w1{width: 78px ; position: absolute; top: 0px; right: 0px; }
 .iconbox.w2{ width: 117px ;position: absolute; top:50px; right: 0px; }
 .iconbox.w3{ width: 117px ;position: absolute; top:100px; right: 0px; }
 .iconbox.w4{ width: 80px ;position: absolute; top:150px; right: 0px; }
/*  .iconbox.w5{ width: 40px ;position: absolute; top:200px; right: 0px; }
 .iconbox.w6{ width: 40px ;position: absolute; top:250px; right: 0px; } */
 .iconbox.w5{ width: 80px ;position: absolute; top:200px; right: 0px; }
 .iconbox.w6{ width: 80px ;position: absolute; top:250px; right: 0px; }
 .iconbox.w7{ width: 117px ;position: absolute; top:300px; right: 0px; }
/*  .iconbox.w7{ width: 40px ;position: absolute; top:300px; right: 0px; } */
 .iconbox.w8{ width: 40px ;position: absolute; top:350px; right: 0px; }
 .iconbox.w9{ width: 40px ;position: absolute; top:400px; right: 0px; }
 .iconbox.w10{ width: 40px ;position: absolute; top:450px; right: 0px; }
 .iconbox.w11{ width: 40px ;position: absolute; top:500px; right: 0px; }
 .iconbox.w12{ width: 40px ;position: absolute; top:550px; right: 0px; }
 .iconbox.w13{ width: 40px ;position: absolute; top:600px; right: 0px; }







li.map_icon1{  background: url("../../img/map_icon/icon01.png")no-repeat center center}
li.map_icon1:hover{  background: url("../../img/map_icon/icon01_ov.png")no-repeat center center;  background-color: #a4b8e2!important;}

li.map_icon2{  background: url("../../img/map_icon/icon02.png")no-repeat center center}
li.map_icon2:hover{  background: url("../../img/map_icon/icon02_ov.png")no-repeat center center;  background-color: #a4b8e2!important;}

li.map_icon3{  background: url("../../img/map_icon/icon03.png")no-repeat center center}
li.map_icon3:hover{  background: url("../../img/map_icon/icon03_ov.png")no-repeat center center;  background-color: #a4b8e2!important;}


li.map_icon4{  background: url("../../img/map_icon/icon04.png")no-repeat center center}
li.map_icon4:hover{  background: url("../../img/map_icon/icon04_ov.png")no-repeat center center;  background-color: #a4b8e2!important;}

li.map_icon5{  background: url("../../img/map_icon/icon05.png")no-repeat center center}
li.map_icon5:hover{  background: url("../../img/map_icon/icon05_ov.png")no-repeat center center;  background-color: #a4b8e2!important;}


li.map_icon6{  background: url("../../img/map_icon/icon06.png")no-repeat center center}
li.map_icon6:hover{  background: url("../../img/map_icon/icon06_ov.png")no-repeat center center;  background-color: #a4b8e2!important;}


li.map_icon7{  background: url("../../img/map_icon/icon07.png")no-repeat center center}
li.map_icon7:hover{  background: url("../../img/map_icon/icon07_ov.png")no-repeat center center;  background-color: #a4b8e2!important;}

li.map_icon8{  background: url("../../img/map_icon/icon08.png")no-repeat center center}
li.map_icon8:hover{  background: url("../../img/map_icon/icon08_ov.png")no-repeat center center;  background-color: #a4b8e2!important;}

li.map_icon9{  background: url("../../img/map_icon/icon09.png")no-repeat center center}
li.map_icon9:hover{  background: url("../../img/map_icon/icon09_ov.png")no-repeat center center;  background-color: #a4b8e2!important;}

li.map_icon10{  background: url("../../img/map_icon/icon10.png")no-repeat center center}
li.map_icon10:hover{  background: url("../../img/map_icon/icon10_ov.png")no-repeat center center;  background-color: #a4b8e2!important;}

li.map_icon11{  background: url("../../img/map_icon/icon11.png")no-repeat center center}
li.map_icon11:hover{  background: url("../../img/map_icon/icon11_ov.png")no-repeat center center;  background-color: #a4b8e2!important; }


li.map_icon12{  background: url("../../img/map_icon/icon12.png")no-repeat center center}
li.map_icon12:hover{  background: url("../../img/map_icon/icon12_ov.png")no-repeat center center;  background-color: #a4b8e2!important;}


li.map_icon13{  background: url("../../img/map_icon/icon13.png")no-repeat center center}
li.map_icon13:hover{  background: url("../../img/map_icon/icon13_ov.png")no-repeat center center;  background-color: #a4b8e2!important;}


li.map_icon14{  background: url("../../img/map_icon/icon14.png")no-repeat center center}
li.map_icon14:hover{  background: url("../../img/map_icon/icon14_ov.png")no-repeat center center;  background-color: #a4b8e2!important;}


li.map_icon15{  background: url("../../img/map_icon/icon15.png")no-repeat center center}
li.map_icon15:hover{  background: url("../../img/map_icon/icon15_ov.png")no-repeat center center;  background-color: #a4b8e2!important;}

li.map_icon16{  background: url("../../img/map_icon/icon16.png")no-repeat center center}
li.map_icon16:hover{  background: url("../../img/map_icon/icon16_ov.png")no-repeat center center;  background-color: #a4b8e2!important;}

li.map_icon17{  background: url("../../img/map_icon/icon17.png")no-repeat center center}
li.map_icon17:hover{  background: url("../../img/map_icon/icon17_ov.png")no-repeat center center;  background-color: #a4b8e2!important;}



.map_point1{ width: auto; float: left;  position: absolute;  left:900px; top: 200px; z-index:7; ; width:15px; height:15px; background-color: #FF0004;z-index: 9}
.map_point2{ width: auto; float: left;  position: absolute;  left:900px; top: 500px; z-index:7; ; width:15px; height:15px; background-color: #FF0004;z-index: 9}
.map_point3{ width: auto; float: left;  position: absolute;  left: 1200px; top: 300px; z-index:7; ; width:15px; height:15px; background-color: #FF0004;z-index: 9}
.map_point4{ width: auto; float: left;  position: absolute;  left: 1400px; top: 300px;background-color: #FF0004;z-index: 9}

.map_popup_w1{ width: 250px; position: absolute;  left:25px; top: -15px;}
.map_popup_w2{ width: 300px; position: absolute;  right:45px; top: 0px;}
/* .map_popup_w3{ width:350px; position: absolute;   left:25px; top: -15px;} */
.map_popup_w3{ width:400px; position: absolute;   left:10px; top: -20px;}
.map_popup_w5{ width:auto; position: absolute;   left:25px; top: -15px;box-shadow:3px 3px 10px rgba(0,0,0,0.2); }


.map_popup1{height: 200px; float: left;  background-color: #fff; border-radius: 10px; border: 1px solid #666; z-index: 1;   box-shadow:3px 3px 30px rgba(0,0,0,0.1);  display: none; }

.map_popup1 .close{ 
    position: absolute;
    right: 7px;
    top: 7px;
    width: 30px;
    height: 30px;
    float: left;
    /* z-index: 9999999999999999999999999; */
    z-index: 1;
    cursor: pointer;
}
.map_popup1 .close img{width: 25px!important}

.map_popup1 .close2{ position: absolute; right: 7px; top: 12px; width: 30px; height: 30px; float: left; z-index: 9999999999999999999999999 ; cursor: pointer}
.map_popup1 .close2 img{width: 25px!important}

.map_popup1 .triangle-left {
width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 10px solid #333;
    border-bottom: 10px solid transparent;
    position: absolute;
    left: -10px;
    top: 10px;
}

.map_popup1 .title{ width: 100%;  float: left; line-height: 40px; height: 40px; font-family: 'Noto Sans KR', sans-serif;  color: #666 ; font-weight: 600; font-size: 18px; border-radius: 10px 10px 0px 0px; overflow: hidden; border-bottom: 1px solid #ccc; padding: 0px 20px;box-sizing: border-box; position: relative}
.map_popup1 .title .tx_more2{ font-size: 12px;  position: absolute; right:50px; top:0px; cursor: pointer}
.map_popup1 .title .tx_more{ font-size: 12px;  position: absolute; right:150px; top:0px; cursor: pointer}
.map_popup1 .title .tx_biz{  position: absolute; right:40px; top:7px;  background-color: #3B75E3; color: #fff; font-size: 12px;  border-radius: 4px; line-height: 25px; padding: 0px 10px; cursor: pointer}
.map_popup1 .title .tx_biz:hover{  position: absolute; right:40px; top:7px;  background-color: #295CBC; color: #fff; font-size: 12px;  border-radius: 4px; line-height: 25px; padding: 0px 10px; cursor: pointer}

.map_popup1 .searchbox{ width: 100%;  float: left; line-height: 50px; height: 50px; font-family: 'Noto Sans KR', sans-serif;  color: #666 ; font-weight: 600; font-size: 18px; border-radius: 10px 10px 0px 0px; overflow: hidden; border-bottom: 1px solid #ccc}
.map_popup1 .searchbox input{ width: 100%!important;  float: left; line-height: 50px; height: 50px; padding: 0px 20px; font-family: 'Noto Sans KR', sans-serif;  color: #666 ; font-weight: 600; font-size: 16px; border-bottom: 1px solid #ccc; color: #333; border: none;background-color: #f7f7f7}
.map_popup1 .more{ position: absolute; right: 20px; top: 15px; color: #999; font-size: 12px; cursor: pointer}

.map_popup1 .inbox{ 
    width: 100%;
    float: left;
    padding: 15px;
    box-sizing: border-box;
	}
.map_popup1 .inbox ul li{ width: 100%;  float: left;  padding-left:10px; box-sizing: border-box; line-height: 25px!important;  height: 25px; font-size: 14px; position: relative; text-align: left; border: none}
.map_popup1 .inbox ul li .icon{ position: absolute; left: 0px; top: 7px; width: 5px; height: 5px; background-color: #333; border-radius: 100%; z-index: 9999999}

.map_popup1 .inbox ul li input{  height: 25px; line-height: 25px; border: 1px solid #ccc}

.map_popup1 .inbox2{ width: 100%;  float: left; padding:10px 20px; box-sizing: border-box}
.map_popup1 .inbox2 ul li{ width: 100%;  float: left;  padding-left:10px; box-sizing: border-box; line-height:45px!important;  height:45px; font-size: 14px; position: relative; text-align: left; border: none; border-bottom: 1px dashed #ccc}
.map_popup1 .inbox2 ul li .icon{ position: absolute; left: 0px; top: 20px; width: 5px; height: 5px; background-color: #333; border-radius: 100%; z-index: 9999999}

.map_popup1 .inbox2 ul li input{  height: 25px; line-height: 25px; border: 1px solid #ccc}




.map_infobox{ display:none; width:360px; float: left;  position: absolute;  right: 200px; top:30px; z-index: 9; padding:0px; box-sizing: border-box;  box-shadow:3px 3px 20px rgba(0,0,0,0.2); border-radius: 10px 30px 10px 30px;  background-color: #7d97c7; border: 2px solid #3953ae; overflow: hidden;  }

.map_infobox .inbox_tb{ width:100%; float: left; padding:5px 15px; border-radius: 0px 30px 10px 30px; background-color: #fff}
.map_infobox .inbox_tb .tr{ width:100%; float: left ; ; border-bottom: 1px solid #ccc;padding: 7px 0px }
.map_infobox .inbox_tb .tr:last-child{ width: 100%;  float: left; border-bottom: none; padding: 7px 0px  }

.map_infobox .inbox_tb .tr .th{ width:70px; float: left; color: #4c67ab;font-family: 'Noto Sans KR', sans-serif;  font-size: 15px;font-weight: 600; line-height:16px;}
.map_infobox .inbox_tb .tr .td{ width:calc(100% - 80px); float: left; color: #333; font-size: 15px; line-height: 16px; padding: 0px 10px; box-sizing: border-box; font-family: 'Noto Sans KR', sans-serif; font-weight: 600; }

.map_infobox .close{ position: absolute; right:2px; top:4px; width: 30px; height: 30px; float: left; z-index: 9999999999999999999999999 ; cursor: pointer}
.map_infobox .close img{width: 25px!important}


.map_infobox .title{ width: 100%;  float: left;  font-family: 'Noto Sans KR', sans-serif;  color: #333; font-weight: 600; font-size: 17px; border-radius: 10px 30px 0px 0px; overflow: hidden;  padding: 0px 0px;box-sizing: border-box; position: relative; padding:5px 15px; border-radius: 0px; color: #fff; height: 40px; letter-spacing: -1px}
.map_infobox .title .tx_more2{ font-size: 12px;  position: absolute; right:50px; top:0px; cursor: pointer}
.map_infobox .title .tx_more{ font-size: 12px;  position: absolute; right:150px; top:0px; cursor: pointer}
.map_infobox .title .tx_biz{  position: absolute; right:32px; top:7px;   color: rgba(255,255,255,0.83); font-size: 12px; border-radius: 30px;  line-height: 25px; padding: 0px 7px; cursor: pointer; border: 1px solid  rgba(255,255,255,0.83);transition: all 0.5s;
-moz-transition: all 0.5s; /* Firefox 4 */
-webkit-transition: all 0.5s; /* Safari and Chrome */
-o-transition: all 0.5s; /* Opera */  }
.map_infobox .title .tx_biz:hover{  position: absolute; right:32px; top:7px;   color: #fff; font-size: 12px; border-radius: 30px;  line-height: 25px; padding: 0px 7px; cursor: pointer; border: 1px solid #fff;}

.map_infobox  .title .tx_detail{  position: absolute; right:82px; top:7px; color: #fff; font-size: 12px;  border-radius: 30px; line-height: 23px; padding: 0px 30px 0px 7px;; cursor: pointer;   background-color: #2c50ae; /* Permalink - use to edit and * IE6-9 */;overflow: hidden;  border:2px solid #15203d; box-sizing: border-box;transition: all 0.5s;
-moz-transition: all 0.5s; /* Firefox 4 */
-webkit-transition: all 0.5s; /* Safari and Chrome */
-o-transition: all 0.5s; /* Opera */  
}
.map_infobox  .title .tx_detail .icon{  position: absolute;right:0px; top:0px; width: 23px; height: 23px; border-radius: 100%;  background-color: #333;  display: flex;
  justify-content: center;
  align-items: center;transition: all 0.5s;
-moz-transition: all 0.5s; /* Firefox 4 */
-webkit-transition: all 0.5s; /* Safari and Chrome */
-o-transition: all 0.5s; /* Opera */  
}
.map_infobox  .title .tx_detail:hover{  position: absolute; right:82px; top:7px; color: #fff; font-size: 12px;  border-radius: 30px; line-height: 23px; padding: 0px 30px 0px 7px;; cursor: pointer;   background-color: #436ACD; /* Permalink - use to edit and * IE6-9 */;overflow: hidden;  border:2px solid #00030B; box-sizing: border-box
}
.map_infobox  .title .tx_detail:hover .icon{  position: absolute;right:0px; top:0px; width: 23px; height: 23px; border-radius: 100%;  background-color: rgba(0,0,0,1.00);  display: flex;
  justify-content: center;
  align-items: center; color: #7499FC;
}










.map_legend{ width:400px;  height: 150px; float: left;  background-color: #fff;  border: 1px solid #666; z-index: 5;   box-shadow:3px 3px 30px rgba(0,0,0,0.1); position: absolute; bottom: 50px; left: 150px;  }
.map_legend .title{  width: 100%; float: left; line-height: 40px; height: 40px; padding: 0px 20px; font-family: 'Noto Sans KR', sans-serif;  color: #333; font-weight:600; font-size: 14px; position: relative ; border-bottom: 1px solid #ccc}

.map_legend .title .onoff{ position: absolute; right: 10px; top: 10px; }



.map_popup1 .searchbox .search_btn_s{ position: absolute; right: 50px; top: 10px; color: #fff; font-size: 12px; width: auto;  width: 30px; height: 30px; background: url("../../img/common/icon_search3.png")no-repeat center center;  background-color: #494949;  border-radius: 100%;  line-height: 30px; cursor: pointer}

.map_popup1 .searchbox .search_btn_s:hover{ position: absolute; right: 50px; top: 10px; color: #fff; font-size: 12px; width: auto;  width: 30px; height: 30px; background: url("../../img/common/icon_search3.png")no-repeat center center;  background-color: #3B75E3;  border-radius: 100%;  line-height: 30px; cursor: pointer}

.map_legend .title .icon_win{ position: absolute; right: 10px; top: 10px;  }
.map_legend .title .icon_win .win_btn{float: left; width: 27px!important;  cursor: pointer; }
.map_legend .title .icon_win .win_btn1{float: left; width: 27px!important; height: 27px; background: url("../../img/map_icon/legend_w_b.png")no-repeat center center ; cursor: pointer; }
.map_legend .title .icon_win .win_btn1:hover{background: url("../../img/map_icon/legend_w_b_on.png")no-repeat center center ;}
.map_legend .title .icon_win .win_btn2{float: left; width: 27px!important; height: 27px; background: url("../../img/map_icon/legend_w_s.png")no-repeat center center ; cursor: pointer; }
.map_legend .title .icon_win .win_btn2:hover{background: url("../../img/map_icon/legend_w_s_on.png")no-repeat center center ;  }

.map_legend .title .icon_win .win_btn3{float: left; width: 27px!important; height: 27px; background: url("../../img/map_icon/legend_w_c.png")no-repeat center center ; cursor: pointer; }
.map_legend .title .icon_win .win_btn3:hover{background: url("../../img/map_icon/legend_w_c_on.png")no-repeat center center ;  }



.map_popup1 .search_list{ width: 100%;  float: left; border: 1px solid #ccc; padding:0px 15px; box-sizing: border-box; border-radius: 10px; margin-bottom: 5px;}

.map_popup1 .search_list .title{ width: 100%;  float: left; border-bottom: 1px dashed #ccc;padding: 0px;   font-size: 13px; font-weight: 400;line-height: 40px!important }

.map_popup1 .search_list .title em{  font-family: 'Noto Sans KR', sans-serif;  color: #333 ; font-weight: 600; font-size: 16px; margin-right:5px }
.map_popup1 .search_list .title em.um{  font-family: 'Noto Sans KR', sans-serif;  color: #225CCB ; font-weight: 600; font-size: 16px; }

.map_popup1 .search_list .list_tx{ width: 100%;  float: left; padding: 15px 0px;   font-size: 12px; }

.map_popup1 .search_more{ width: 100%;  float: left; position: relative; height: 25px;border-bottom: 1px solid #ccc;  margin-bottom: 20px;}
.map_popup1 .search_more .morebtn{ width:80px; border-radius: 30px; background-color: #658FDF; color: #fff; font-size: 12px;;  float: left; position: relative ; position: absolute; left: 50%; top: 10px; margin-left:-40px; padding: 7px 10px; text-align: center; cursor: pointer; }
.map_popup1 .search_more .morebtn:hover{ width:80px; border-radius: 30px; background-color: #3B75E3; color: #fff; font-size: 12px;;  float: left; position: relative ; position: absolute; left: 50%; top: 10px; margin-left:-40px; padding: 7px 10px; text-align: center; cursor: pointer; }


.map_layer_info1{    padding: 7px 25px 7px 7px;border-radius: 4px;background-color: #3B75E3;color: #fff;}
.map_layer_info1 .close{position: absolute; right: 3px; top: 0px; height:25px;  width: 25px; background: url("../../img/icon/icon_close_w.svg")no-repeat center center; background-size: 20px; opacity: 0.5}
.map_layer_info1 .close:hover {position: absolute; right: 3px; top: 0px; height:25px;  width: 25px; background: url("../../img/icon/icon_close_w.svg")no-repeat center center; background-size: 20px; opacity: 1; cursor: pointer}


