.sidenav {
  height: 100%;
  width: 260px;
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  background-color: #fff;
  transition: margin-left .5s;
  padding-top: 0px;
  box-shadow: 3px 3px 30px rgba(126, 140, 174, 0.3) !important;
  margin-left: 0px
}
.sidenav .logo {
  width: 260px;
  float: left
}
.sidenav .leftmenu {
  width: 260px;
  float: left
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
#sidenav_open {
  position: absolute;
  right: -35px;
  top: 0px;
  width: 35px;
  height: 35px;
  background: url("../../img/icon/angle-right.svg")no-repeat center center;
  background-color: #172b44;
  background-size: 20px;
  cursor: pointer
}
#sidenav_close {
  position: absolute;
  right: -35px;
  top: 0px;
  width: 35px;
  height: 35px;
  background: url("../../img/icon/angle-left-b.svg")no-repeat center center;
  background-color: #172b44;
  background-size: 20px;
  cursor: pointer
}
#main {
  transition: margin-left .5s;
  padding: 30px 30px;
  background-color: #f5f7fc;
  height: 100%;
  margin-left: 260px; height: 100%; position: relative
}
@media screen and (max-height: 450px) {}