.nav, .nav ul, .nav li {
	list-style: none;
}

.nav ul {
	padding: 0;
	margin: 0 0 0 0px;
}

.nav {
	padding: 0px;
	margin: 0px;background-color: #fff;  
}

.nav > li {
	margin: 0px 0 !important;
}


.nav > li li {
	padding: 0px;
}

.nav a {
	color: #333!important;
	display: block;
	outline: none;
	text-decoration: none;; background-position:228px center; background-repeat: no-repeat;  font-family: 'Noto Sans KR'; font-weight: 600; 
}

.nav a:hover {
	color: #333!important;
	display: block;
	outline: none;
	text-decoration: none;; background-position:228px center; background-repeat: no-repeat;  font-family: 'Noto Sans KR'; font-weight: 600; 
}

.nav a .caret {
	float: right;
	width:13px;
	height: 13px;
	display: inline-block;
	vertical-align: top; margin-right: 0px; margin-top: 18px;
	content: ""; background: url(../img/left_ar2.png);  
}

.nav a:hover .caret {
	border-top-color: #fff; ; 	color: #333!important;
}
.nav li.open {background-color: #f9f9f9
}
.nav li.open > a > .caret {
	float: right;
	width:13px;
	height: 13px;
	display: inline-block;
	vertical-align: top; margin-right:0px; margin-top: 18px;
	content: ""; background: url(../img/left_ar1_back.png) no-repeat; 
}
ul li.active  > a > .caret {float: right;
	width:27px;
	height: 27px;
	display: inline-block;
	vertical-align: top; margin-right: -10px; margin-top: 10px;
	content: ""; background: url(../img/left_ar1.png) no-repeat; 
}
.nav li.active.open > a > .caret {
width:27px;
	height: 27px;
	display: inline-block;
	vertical-align: top; margin-right: -10px; margin-top: 10px;
	content: ""; background: url(../img/left_ar1.png) no-repeat; 
}

.nav li.open > a:hover > .caret {
	border-bottom-color: #fff;
}

.nav a:hover, .nav li.active > a {
	
	color: #333;
}

.nav>a:hover {

	color: #333;
}
.nav>li.active  {	
}

.nav  li>a {
	font-size: 12px;
	line-height:30px;
	padding: 0px 20px 0px 55px;
}
ul.menu2 li.sp{ height: 15px; background-color: #f9f9f9; 
}
ul.menu2 li a{
	font-size: 14px;
	line-height: 30px;
	 background-color: #f9f9f9; position: relative; font-weight: 500; color: #666!important
}
ul.menu2 li a .icon{ display: none}
ul.menu2 li a:hover{
	font-size: 14px;
	line-height: 30px;background-color: #f9f9f9; color: #1168a4!important;
}

ul.menu3 li a{
	font-size: 14px;
	line-height: 35px;
	padding: 0px 0px 0px 30px;  background-color: #ddd
}

ul.menu2 li a.menu_on{ font-size: 12px;
	line-height: 35px;
	 background-color: #f9f9f9;
}


ul.menu2 li.active a{ background-color: #f9f9f9; color: #1168a4!important ; position: relative;  position: relative;
}
ul.menu2 li.active {position: relative
}
ul.menu2 li.active .icon{position: absolute; left: 40px; top: 5px;color: #4687ff!important; z-index: 999
}
 li a.menu_on .ar_icon{ position: absolute; right: 30px; top: 10px;    background:#fff;
    width :0px;
    height:0PX;
    border-right: 15px solid transparent;
    border-top: 15px solid #f1f1f1; transform:rotate(45deg)
}
.nav > li > a {
	font-size: 16px;
	line-height: 50px;
	padding: 0px 10px 0px 40px;color: #999!important; box-sizing: border-box
}
.nav > li:hover> a {
	font-size: 16px;
	line-height: 50px;
	padding: 0px 10px 0px 40px;color: #333!important; box-sizing: border-box
}
.nav > li.active >  a{   color: #000!important
}
.nav > li.open >  a{   color: #000!important
}
.nav > li > a.lefticon1{ background: url("../../img/icon/left_icon01.svg")!important; background-repeat: no-repeat!important; background-position:15px 53%!important ; background-size:20px!important
}
.nav > li.open > a.lefticon1{ background: url("../../img/icon/left_icon01_ov.svg")!important; background-repeat: no-repeat!important; background-position:15px 53%!important ; background-size:20px!important
}
.nav > li.active > a.lefticon1{ background: url("../../img/icon/left_icon01_ov.svg")!important; background-repeat: no-repeat!important; background-position:15px 53%!important ; background-size:20px!important
}

.nav > li > a.lefticon2{ background: url("../../img/icon/left_icon02.svg"); background-repeat: no-repeat!important; background-position:15px 53%!important ; background-size:20px!important
}

.nav > li.open > a.lefticon2, .nav > li.active > a.lefticon2{ background: url("../../img/icon/left_icon02_ov.svg"); background-repeat: no-repeat!important; background-position:15px 53%!important ; background-size:20px!important
}


.nav > li > a.lefticon3{ background: url("../../img/icon/left_icon03.svg"); background-repeat: no-repeat!important; background-position:15px 53%!important ; background-size:20px!important
}

.nav > li.open > a.lefticon3, .nav > li.active > a.lefticon3{ background: url("../../img/icon/left_icon03_ov.svg"); background-repeat: no-repeat!important; background-position:15px 53%!important ; background-size:20px!important
}


.nav > li > a.lefticon4{ background: url("../../img/icon/left_icon04.svg"); background-repeat: no-repeat!important;background-position:15px 53%!important ; background-size:20px!important
}

.nav > li.open > a.lefticon4, .nav > li.active > a.lefticon4{ background: url("../../img/icon/left_icon04_ov.svg"); background-repeat: no-repeat!important; background-position:15px 53%!important ; background-size:20px!important
}



.nav > li > a.lefticon5{ background: url("../../img/icon/left_icon05.svg"); background-repeat: no-repeat!important; background-position:15px 53%!important ; background-size:20px!important
}

.nav > li.open > a.lefticon5, .nav > li.active > a.lefticon5{ background: url("../../img/icon/left_icon05_ov.svg"); background-repeat: no-repeat!important; background-position:15px 53%!important ; background-size:20px!important
}


.nav > li > a.lefticon6{ background: url("../../img/icon/left_icon06.svg"); background-repeat: no-repeat!important; background-position:15px 53%!important ; background-size:20px!important
}
.nav > li.open > a.lefticon6, .nav > li.active > a.lefticon6{ background: url("../../img/icon/left_icon06_ov.svg"); background-repeat: no-repeat!important; background-position:15px 53%!important ; background-size:20px!important
}



.nav > li > a.lefticon7{ background: url("../../img/icon/left_icon07.svg"); background-repeat: no-repeat!important; background-position:15px 53%!important ; background-size:20px!important
}
.nav > li.open > a.lefticon7, .nav > li.active > a.lefticon7{ background: url("../../img/icon/left_icon07_ov.svg"); background-repeat: no-repeat!important; background-position:15px 53%!important ; background-size:20px!important
}

.nav > li > a.lefticon8{ background: url("../../img/icon/left_icon08.svg"); background-repeat: no-repeat!important; background-position:15px 53%!important ; background-size:20px!important
}
.nav > li.open > a.lefticon8, .nav > li.active > a.lefticon8{ background: url("../../img/icon/left_icon08_ov.svg"); background-repeat: no-repeat!important; background-position:15px 53%!important ; background-size:20px!important
}



