<div id="mySidenav" class="sidenav">
	<div class="logo" style="height:79px;border-bottom:solid 2px #e4ecee;">
		<img src="../../resources/his/img/admin/img_top_logo.gif" alt="" style="padding-top:25px;padding-left:30px;" class="cursor"/>
	</div>
	<div class="leftmenu">
		<!--왼쪽 메뉴 : class="active"-->
		<ul class="nav" id="demo1">
			<li id="MenuDocSearch" class="mainMenu" <% if(menu.equals("MenuDocSearch")){ %> class="active" <%} %> ><a href="./ZecmMngDocSearch.html" class="lefticon2">서류 조회</a></li>
			<li id="MenuMngOrgan" class="mainMenu"><a href="./ZecmMngDept.html" class="lefticon3">조직 관리</a>
				<ul class="menu2" <% if(mainmenu.equals("MenuMngOrgan")){ %> style="display:block" <%}else{%> style="display:none" <%} %>>
					<li id="MenuDept" <% if(menu.equals("MenuDept")){ %> class="active" <%} %> ><a href="./ZecmMngDept.html">부서 관리</a></li>
					<li id="MenuUser" <% if(menu.equals("MenuUser")){ %> class="active" <%} %> ><a href="./ZecmMngUser.html">사용자 관리</a></li>
				</ul>
			</li>
			<li id="MenuMngClass" class="mainMenu"><a href="./ZecmMngCustCompany.html" class="lefticon4">문서분류 관리</a>
				<ul class="menu2" <% if(mainmenu.equals("MenuMngClass")){ %> style="display:block" <%}else{%> style="display:none" <%} %>>
					<li id="MenuCustCompany" <% if(menu.equals("MenuCustCompany")){ %> class="active" <%} %> ><a href="./ZecmMngCustCompany.html">고객사 관리</a></li>
					<li id="MenuTask" <% if(menu.equals("MenuTask")){ %> class="active" <%} %> ><a href="./ZecmMngTask.html">업무 관리</a></li>
					<li id="MenuDocType" <% if(menu.equals("MenuDocType")){ %> class="active" <%} %> ><a href="./ZecmMngDocType.html">문서 분류 관리</a></li>
				</ul>
			</li>
			<li id="MenuMngStat" class="mainMenu"><a href="./ZecmMngStatImg.html" class="lefticon6">통계조회</a>
				<ul class="menu2" <% if(mainmenu.equals("MenuMngStat")){ %> style="display:block" <%}else{%> style="display:none" <%} %>>
					<li id="MenuStatImg" <% if(menu.equals("MenuStatImg")){ %> class="active" <%} %> ><a href="./ZecmMngStatImg.html">회사별 등록 건수</a></li>
					<li id="MenuStatFile" <% if(menu.equals("MenuStatFile")){ %> class="active" <%} %> ><a href="./ZecmMngStatFile.html">회사별 등록 파일개수</a></li>
				</ul>
			</li>
			<li id="MenuDocHistory" class="mainMenu" <% if(menu.equals("MenuDocHistory")){ %> class="active" <%} %> >
				<a href="./ZecmMngDocHistory.html" class="lefticon7">이력조회</a>
			</li>
			<li id="MenuMngArch" class="mainMenu"><a href="./ZecmMngArchTask.html" class="lefticon7">아카이브 관리</a>
				<ul class="menu2" <% if(mainmenu.equals("MenuMngArch")){ %> style="display:block" <%}else{%> style="display:none" <%} %>>
					<li id="MenuArchTask" <% if(menu.equals("MenuArchTask")){ %> class="active" <%} %> ><a href="./ZecmMngArchTask.html">업무관리</a></li>
					<li id="MenuArchCabinet" <% if(menu.equals("MenuArchCabinet")){ %> class="active" <%} %> ><a href="./ZecmMngArchCabinet.html">캐비닛 관리</a></li>
					<li id="MenuMonitor" <% if(menu.equals("MenuMonitor")){ %> class="active" <%} %> ><a href="./ZecmMngMonitor.html">서버 자원</a></li>
				</ul>
			</li>				
		</ul>
		<!--왼쪽 메뉴 -->
	</div>
</div>